{% extends "global_base.html" %}

{% load humanize %}

{% block heading %}Reader{% endblock %}
{% block subheading %}Details{% endblock%}

{% block page %}
    <!-- Details from the reader -->
    <p>
        <span class="glyphicon glyphicon-time"></span> {{ read_details.reader_date|naturalday }} | {{ read_details.reader_author }}<br>
        <span class="lead"><strong>{{ read_details.reader_title }}</strong></span><br>
        {{ read_details.reader_entry }}
    </p>

    {% if authenticated %}
    <a class="btn btn-primary" href="{% url 'reader:edit' read_details.id %}"><span class="glyphicon glyphicon-pencil"></span> edit</a>
    {% endif %}

{% endblock %}
