{% extends "global_base.html" %}

{% block title %}Edit{% endblock %}

{% block page %}
    <!-- Details from the publication -->
    <h1>Edit:</h1>

    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td><label>by: &nbsp;&nbsp;</label></td>
                <td>
                    <label>{{ author }} &nbsp;&nbsp;</label>
                </td>
            </tr>

            <tr>
                <td><label>Title&nbsp;&nbsp;</label></td>
                <td>
                    <input type="text" name="reader_title" value="{{ read_details.reader_title }}">
                    <p class="has_warning">{{ error_reader_title }}</p>
                </td>
            </tr>

            <tr>
                <td><label>Entry&nbsp;&nbsp;</label></td>
                <td><textarea rows="10" placeholder="enter text..." name="reader_entry">{{ read_details.reader_entry }}</textarea>
                <p class="has_warning">{{ error_reader_entry }}</p></td>
            </tr>
        </table>


        <!-- update -->
        <div>
            <!-- update -->
            <input class="btn btn-success" type="submit" value="update entry" />
            <!-- cancel -->
            <a href="{% url 'reader:index' %}">
            <input class="btn btn-default" type="button" value="cancel" /></a>
            <!-- delete -->
            <a href="{% url 'reader:delete' reader_id %}">
            <input class="btn btn-default" type="button" value="delete" /></a>

            <p><cite>You will be asked to confirm on the next page.</cite></p>
        </div>
    </form>
{% endblock %}